/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand: #27c;
  --vp-c-brand-light: #27c;
  --vp-button-brand-bg: #27c;
  --vp-button-brand-active-border: #04a;
  --vp-button-brand-hover-border: #04a;
  --vp-button-brand-border: #04a;
  --vp-c-brand-dark: #04a;
}